/*
|-----------------------------------------
| Reset
|-----------------------------------------
*/

html, body{ margin: 0;}
 
 html {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  

  ol,
  ul {
    margin: 0;
    padding-inline-start:0;
    list-style: none;
  }
  
  main { display: block;}
  
  
  a { background-color: transparent; }
  
  
  b,
  strong { font-weight: bolder; }
  
  small { font-size: 80%;  }

  img {
    border-style: none;
  }

  button,
  input,
  select {
    margin: 0;
  }
  
  button {
    overflow: visible; /* 1 */
    text-transform: none; /* 2 */
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  input {
    overflow: visible;
  }
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    $cl3-space: normal; /* 1 */
  }
  select {
    text-transform: none;
  }
    
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  

  ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style upload buttons in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /**
   * Remove the inner border and padding of focus outlines in Firefox.
   */
  
  ::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus outline styles unset by the previous rule in Firefox.
   */
  
  :-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Remove the additional :invalid styles in Firefox.
   */
  
  :-moz-ui-invalid {
    box-shadow: none;
  }
  

/*
|-----------------------------------------
| Custom
|-----------------------------------------
*/

$cl1: #1A1A1A;
$cl2: #EC8AB3;
$cl3: #FFF;

$ft1: 'Open Sans', sans-serif;
$ft2: 'Roboto', sans-serif;

.scrollNone{
  height: 100vh;
  overflow: hidden;
}

.row{ 
    display: flex;
    padding: 0 15px;
}

.header{
  position: relative;
  z-index: 5;
}

.nav{
  display: flex;
}
.nav__trigger{
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0;
  padding: 0;

  span{
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 50% 50%;
    left: 11px;

    &::before{ top: -8px; }
    &::after{ bottom: -8px; }

    &::before,
    &::after{
      content: '';
      width: 100%;
      left: 0;
    }
  }
  span,
  span::before,
  span::after{
    position: absolute;
    height: 3px;
    background: #182631;
    transition: all .25s ease;
  }

  &:focus{
    outline: none;
    
  }

}
.logo{ 
  margin: 0 10px;
  height: 30px;
  padding: 10px 0;
  img{ height: 100%; }
}

.navigation{
  background: #f2f2f2;
  border-top: 1px solid #d6d6d6;
  width: 100vw;
  height: calc(100vh - 50px);
  position: absolute;
  top: 50px;
  left: -100vw;
  transition: all .8s ease-in-out 0s;

  .row{
    padding: 0;
  }
}
.navigation.active{ 
  left: 0;
}


.menu{ 
  width: 100%; 
  flex-direction: column;
  position: relative;

  $pos: 45;
  @for $i from 1 through 7 {
    $pos: $pos - 45;
    .menu__item:nth-of-type(#{$i}) .menu__link::before {

      background: url('../img/menu_icons.svg') no-repeat; 
  		background-position:center $pos + px;
    }
  }
}

.menu__item{
  &:hover{
    background: none;
    border-width: 1px 4px 1px 0;
    border-style: solid;
    border-color: $cl2;
    transition: all 0.3s ease-in-out 0s;
  }
}
.menu__link{
  color: lighten($cl1, 30%);
  font: 600 15px $ft1;
  padding: 20px 20px 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;

  &::before{
    content: '';
    display: block;
    height: 45px;
    width: 45px;
    position: absolute;
    left: 2px;
    top: calc(50% - 22.5px);
  }

}

.menu__indicator{
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease-in-out 0s;

  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: -2px;
    box-sizing: border-box;
    border-top: 2px solid lighten($cl1, 30%);
    border-left: 2px solid lighten($cl1, 30%);
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

.trigger__lvl1{

  &::after{
    content: '';
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.3);
    transition: visibility 0s ease .6s,opacity .6s ease;
  }
}

.trigger__lvl1.active{
  &::after{
    visibility: visible;
    opacity: 1;
    transition-delay: .05s;
  }
}

.menu__dropdown{ 
  position: absolute;
  left: -100vw;
  top: -50px;
  z-index: 6;
  width: calc(100% - 46px);
  height: 100vh;
  background: $cl3;
  transition: all .8s ease-in-out 0s;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu__dropdown.show{ 
  left: 0; 
}

.menu__title{ 
  > a{
    background: $cl2;
    color: $cl3;
    font: 600 15px $ft1;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px 15px 40px;
    display: block;
    position: relative;
  }
  .menu__indicator{
    left: 0;
    transform: rotate(180deg);

    &::before{ border-color: $cl3; }
  }
  
}

.trigger__lvl2{
  position: relative;

  .drop__child{
    display: none;
    transition: all .8s ease-in-out 0s;
  }
}

.trigger__lvl2.active{

  .menu__indicator{ 
    transform: rotate(90deg); 
    top: -2px; 
    &::before{ border-color: white;}
  }

  > .drop__link{
    background: #ec8ab3;
    color: white;
  }    
  .drop__child{ background: #f5f5f5; display: block;}

}

.drop__link{
  color: lighten($cl1, 30%);
  font: 600 15px $ft1;
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: background .2s ease-in-out 0s;
}


#product__main{
  transition: all .7s ease-in-out 0s;
  width: 100vw;
  position: absolute;
  left: 0;
}

#breadcrumb{
  background: #f3f3f3;
  margin-top: 0;
}

.breadcrumb__item,
.breadcrumb__active{
  padding: 14px 0;
  color: lighten($cl1, 30%);
  font: normal 14px $ft1;
}

.breadcrumb__item{
  position: relative;
  &::after{
    content: '>';
    padding: 0 10px;
  }

  &:last-child::after{ display: none;}
}

.breadcrumb__link{
  color: lighten($cl1, 40%);
  text-decoration: none;

  &:hover{ color: $cl2;}
}

#product__content{
  .row{ flex-direction: column; }
}

#product__header-desk{ display: none;}

#product__content .flashsale{
  padding: 15px 0;
  background: $cl1;
  color: $cl3;
  font: normal 12px $ft1;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 4;
  width: 100%;
  .row{ 
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%;
  }

  .btn{ width: 30%;}
}

.flashsale__value{
  font: 600 14px $ft1;
  display: block;
}

.flashsale__counter{
  padding-left: 40px;
  background: url('../img/timer.svg') 0 center no-repeat;
  height: 36px;
}

.flashsale__counter,
.flashsale__status{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.product__tit{
  color: $cl1;
  font: 600 22px $ft1;
  line-height: 26px;
}

.d-flex{ 
  display: flex;
  justify-content: space-between;
}

.product__price{
  color: $cl2;
  font: 600 18px $ft1;
}

.product__price.old{
  color: lighten($cl1, 50%);
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 5px;
}

.stars__rating{
  font: 400 15px $ft1;
  height: 25px;
  line-height: 27px;
  color: lighten($cl1, 50%);
}
.stars{
  width: 15px;
  height: 15px;
  background: url('../img/stars.svg') 0 0 no-repeat;
  display: inline-block;
}
.star__half{ background-position: -15px 0;}

.product__image{
  padding: 20px;
  border: 1px solid #d6d6d6;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product__thumbs{ display: flex; margin-bottom: 15px;}
.thumb__item{
  width: calc(25% - 15px);
  border: 1px solid #d6d6d6;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 15px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;

  &:last-child{ margin-right: 0}
}
.thumb__item.active{
  border-color: $cl1;
}

.form__row{
  margin-bottom: 15px;
  label{
    font: 600 18px $ft1;
    color: lighten($cl1, 20%);
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
  }
}
.form__row:last-child{ margin-bottom: 0}

.product__form-field{
  display: block;
  width: 100%;
  height: 45px;
  font: normal 16px $ft2;
  background: #fafafa;
  border: 1px solid #d6d6d6;
  text-indent: 10px;

  &:focus{ border-color: $cl2; outline: none;}
}

.variation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.variation__item{ 
  flex: 0 1 calc(50% - 5px);
  box-sizing: border-box;
  margin-bottom: 10px; 
}
.variation__link{
  display: flex;
  align-items: center;
  font: normal 16px $ft2;
  color: lighten($cl1, 20%);
  text-decoration: none;
  border: 1px solid #d6d6d6;
  padding-right: 10px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;

  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    opacity: 0;
    height: 100%;
    background: $cl2;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover{ color: $cl2; border-color: $cl2;}

}

.variation__link:hover::before,
.variation__link.active::before{
  opacity: 1;
}

.variation__link.active{
  color: $cl1; 
  border-color: $cl1;
  &::before{ background: $cl1;}
}

.variation__thumb{
  max-width: 30%;
  margin-right: 10px;
}

.btn{
  display: block;
  width: 100%;
  height: 45px;
  background: $cl2;
  border: 0;
  font: normal 16px $ft2;
  color: $cl3;
  &:hover,
  &:focus{
    background: lighten($cl1, 20%);
    cursor: pointer;
    outline: none;
  }
}

.color__picker{ display: flex;}
.color__item{
  margin-right: 10px;
  &:hover{ cursor: pointer;}

  span{
    background-color: $cl3;
    display: block;
    width: 40px;
    height: 40px;
    border: 3px solid #d6d6d6;
    border-radius: 40px;
    transition: all 0.3s ease-in-out 0s;
  }
}

.color__item.active span{ border-color: $cl1; }

.sec__tit{
  font: 700 22px $ft1;
  color: $cl1;
}

.extra__info{
  margin-top: 20px;
  .row{ flex-direction: column; }
}

.tab__item{
  border-bottom: 1px solid #d6d6d6;
}
.tab__link{
  padding: 10px;
  font: 600 18px $ft1;
  color: lighten($cl1, 20%);
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &:hover{ color: $cl2;}
  &::after{
    content: '>';
    position: absolute;
    right: 15px;
    top: 9px;
  }
}

.tab__content{
  display: none;
}
.tab__return{ display: none;}

.tab__txt{
  padding: 0 15px; 

  p{
    font: normal 16px $ft2;
    color: lighten($cl1, 20%);
  }
}

.modal__slide{
  transition: all .7s ease-in-out 0s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100vw;
  overflow-y: scroll;
  z-index: 6;
  background: #f5f5f5;
  .tab__return{
    background: $cl3;
    color: lighten($cl1, 30%);
    font: 600 15px $ft1;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    display: block;
    position: relative; 
    border-bottom: 1px solid #d6d6d6;
  }
}


.slideIn{
  #product__main{
    left: -99%;
  }

  .modal__slide{
    right: 0;
    // display: block;
  }
}

.slideIn,
.slideIn body{
  // width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideOut{
  #product__main{
    left: 0;
  }

  .modal__slide{
    right: -100vw;
  }
}

.combo__list{
  margin-bottom: 20px;

  .plus{
    align-self: center;
    width: 15px;
    display: block;
    margin: 0 10px;

    &::before{
      content: '+';
      color: $cl1;
      font: 600 20px $ft1;
    }
  }
}

.combo__link{
  text-decoration: none;
  color: lighten($cl1, 30%);
  font: normal 14px $ft2;
  width: calc(33.33% - 22px)
}

.combo__tit{
  width: 100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin-top: 10px;
}

.combo__buy{
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  background: $cl1;
  &:hover,
  &:focus{
    background: $cl2;
  }
}

.product_combo,
.suggestion{
  @extend .extra__info;
}

.suggestion__list {
  margin-bottom: 15px;
}
.suggestion__item{
  width: calc(33.33% - 15px);
}
.suggestion__link{text-decoration: none;}

.suggestion__tit {
  font: normal 14px $ft2;
  text-decoration: none;
  color: #616161;
  margin-bottom: 10px;
  @extend .combo__tit;
} 

.suggestion__price {
  font: normal 14px $ft2;
  color: #616161;
  font-weight: bold;
}

#reviews {
  margin-bottom: 75px;
}

#reviews .row {
  flex-direction: column;
}

.reviews__row{
  display: flex;
}

.reviews__box{ 
  width: 50%;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $cl1;
  padding: 0 15px;

  .stars__rating{ margin: 5px 0;}
  .review__info{ font: normal 14px $ft1;}
}
.reviews__box:first-child{ background: #ededed; align-items: center;}
.reviews_grade{
  font: 600 20px $ft1;
}

.reviews__tabs {display: flex;}

.reviews__filter{ display: flex; justify-content: space-between; margin: 20px 0 10px;}
.filter__item{
  border: 1px solid $cl1;
  width: 50%;
  margin-right: 15px;
  text-align: center;
  &:last-child{ margin-right: 0;}

  .filter__link{
    color: $cl1;
    font: normal 14px $ft2;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
}

.filter__item.active{ 
  border-color: $cl2;
  .filter__link{ color: $cl2;}
}

.review__item {margin-bottom: 10px;}
.review__col{
  color: $cl1;
  font-size: 14px;
  font-family: $ft1;
  &:last-child{ width: 70%;}
}

.review__row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review__txt{ margin: 5px 0 0; }

@media (min-width: 992px){
  .row{ width: 960px; margin: 0 auto;}

  .navigation{ display: block;}
  .menu{ width: 100%; }

  .menu__item{
    position: relative;
    transition: all 0.3s ease-in-out 0s;

    
    &:hover{
      background: $cl2;
      .menu__link{ color: $cl3; }

      .menu__dropdown{
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
      }
    }
  }
  .menu__link{
    color: $cl3;
    font: normal 15px $ft1;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
  }

  .menu__dropdown{ 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    background: $cl3;
    border: 1px solid;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }


  #breadcrumb{ background: none; }

  #product__content{
    .row{ flex-direction: row; justify-content: space-between;}
  }

  #product__header-mobile{ display: none;}
  #product__header-desk{ 
    display: block;
    margin-bottom: 17px;
  }

  .product__image{ width: 50%;}
  .product__info{ width: 40%;}

  #product__content .flashsale{ 
    position: static; 
    .btn{ width: 40%;}
  }

  .slideIn,
  .slideIn body{
    height: auto;
    overflow: auto;
  }

  #product__main{
    width: auto;
    position: initial;
  }

  .modal__slide{ display: none;} 

}

@media (min-width: 1200px){
  .row{ width: 1140px; margin: 0 auto;}
}